.idea
.venv
week1/car_fuel_efficiency.csv
week2/car-price-data.csv
week2/car_fuel_efficiency.csv
week3/data-week-3.csv
week3/course_lead_scoring.csv
week4/course_lead_scoring.csv
week5/model_C=1.0.bin
week5/pipeline_v1.bin
week6/CreditScoring.csv
week6/car_fuel_efficiency.csv